.App {
  text-align: center;
  background-color: #1B1464;
  min-height: 100vh;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  background-color: #ff9900;
  border-radius: 16px;
  padding: 16px 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.App-logo {
  height: 180px;
  pointer-events: none;
}

.Switch-logo {
  height: 50px;
  transform: rotate(90deg)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu {
  max-height:30vh;
  overflow-y: scroll;
}

.bottom-color {
  color: white;
}